---
interface Props {
  source: string;
  aspectRatio?: number;
}

const { source, aspectRatio = 16 / 9 } = Astro.props;
---

<div class="w-full flex justify-center">
  <video
    class="w-full h-auto rounded-lg"
    style={`aspect-ratio: ${aspectRatio}`}
    autoplay
    controls
    muted
    loop
  >
    <source src={source} type="video/mp4" />
  </video>
</div>
